<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion de Contraseña</title>
    <link rel="stylesheet" href="Css/login.css">
</head>
<body>
    <section>
        <form>
            <h1>Recupera tu Contraseña</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input id="currentuser" type="email" required>
                <label for="currentuser">Correo Electronico</label>
            </div>
            <button id="submitbtn">Enviar Correo</button>
        </form>
    <script type="module" src="/Controllers/ResetPass.js"></script>
    </section>
</body>
</html>